html
	head
		link(rel="stylesheet" href="https://use.typekit.net/ikq5fbd.css")
		link(rel="stylesheet" href="/assets/css/styles.css")
	body.redskins.home-town
		div.draft-card-contain.JS-card-contain
			div.paper-name
				img(src="/assets/images/paper-title.png")
			div.photo
				div.photo-contain.JS-player-image(style="background-image: url(https://i.imgur.com/Ik80sUw.jpg);")
				div.credit r/NFL
				div.logo
				div.flag
			div.caption
				b reddit.com:
				| It is not known to this writer whether Marquez Valdes-Scantling is a fan of the Redskins, but he grew up in Washington DC — less than 30 miles from FedEx Stadium
			div.name-contain.JS-name-contain
				div.first.JS-text-bound(style="font-size: 92px; line-height: 86px; letter-spacing: .08em;") Marquez
				<br>
				div.last.JS-text-bound(style="font-size: 92px; line-height: 86px; letter-spacing: .08em;") Valdes-Scantling
			div.basic-info
				div.line
					span.player_position.left OLB &mdash; Florida State
					span.draft_position.right 7th overall
				div.line
					span.player_size.left 6'4" — 251 LBS
					span.draft_team.right Carolina Panthers
				div.stats
					div.stats-contain
						div.stat
							div.header 40 Yard Dash - Combine
							div.number 4.53 Seconds
						div.stat
							div.header Broad Jump - Combine
							div.number 10'4"
						div.stat
							div.header 20 Yard Shuttle - Combine
							div.number 4.28 Seconds
						div.stat
							div.header 40 Yard Dash - Combine
							div.number 4.53 Seconds
						div.stat
							div.header Broad Jump - Combine
							div.number 10'4"
						div.stat
							div.header 20 Yard Shuttle - Combine
							div.number 4.28 Seconds
			div.special-info.random-fact
				div.left #factoid
				div.right Enjoys spending his off days shaping plastic trees for his model train set.
			div.social-info
				div.account.reddit
					span.icon
						include logos/reddit.pug
					span.username redditName
				div.account.instagram
					span.icon
						include logos/twitter.pug
					span.username twitterName
		script(src="/assets/js/app.js")
