html
	head
		link(rel="stylesheet" href="https://use.typekit.net/ikq5fbd.css")
		link(rel="stylesheet" href="/assets/css/styles.css")
	body.jaguars
		div.draft-card-contain
			div.photo
				div.photo-contain(style="background-image: url(https://i.imgur.com/l4LrWV4.jpg);")
				div.name-contain
					div.first Josh
					div.last Sweat
			div.basic-info
				div.line
					span.player_position.left OLB &mdash; Florida State
					span.draft_position.right 7th overall
				div.line
					span.player_size.left 6'4" — 251 LBS
					span.draft_team.right Pittsburgh Steelers
				div.stats
					div.stats-contain
						div.stat
							div.header 40 Yard Dash - Combine
							div.number 4.53 Seconds
						div.stat
							div.header Broad Jump - Combine
							div.number 10'4"
						div.stat
							div.header 20 Yard Shuttle - Combine
							div.number 4.28 Seconds
			div.random-fact
				div.left #factoid
				div.right Enjoys spending his off days shaping plastic trees for his model train set.

		script(src="/assets/js/app.js")
