body.shiny{
	.draft-card-contain{
		&{
			position: relative;
			background-image: url("../images/shiny.jpg");
			background-size: cover;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			background-image: url("../images/shiny.jpg");
			background-size: cover;
			background-blend-mode: screen;
			opacity: .6;
		}
	}
	.photo{
		&{
			background-color: #fff;
		}
		.photo-contain{
			opacity: .5;
			z-index: 1;
		}
	}
	.name-contain{
		color: #f71bff;
		margin-bottom: 20px;
	}
	.credit{
		background: #37f9e7;
		color: #f71bff;
	}
	.basic-info .left,
	.basic-info .right,
	.stats .header,
	.stats .number,
	.special-info .right{
		color: lighten(#fff, 20);
	}
	.special-info .left{
		color: #f71bff;
	}
	.social-info{
		svg{ fill: #37f9e7; }
		.username { color: #37f9e7; }
	}
}
