@import "essentials/essential";

html{
	box-sizing: border-box;
}
html *{
	box-sizing: inherit;
}
body{
	font-family: "industry";
}
.draft-card-contain{
	display: block;
	width: 840px;
	padding: 20px;
	background: #D40000;
}
.photo{
	position: relative;
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
	background-color: #000;
	z-index: 1;
}
.photo-contain{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center right;
	background-size: cover;
	filter: grayscale(100%);
	z-index: 2;
}
.name-contain{
	width: 100%;
	z-index: 3;
	font-size: 92px;
	font-weight: 900;
	letter-spacing: .08em;
	white-space: nowrap;
	line-height: 86px;
	text-transform: uppercase;
	color: #D40000;
}
.photo .name-contain{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 14px;
}
.name-contain > div{
	display: inline-block;
	width: auto;
}
.credit{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 3;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 20px;
	line-height: 40px;
	padding: 4px 14px 0;
}
.flag{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 3;
}
.logo{
	position: absolute;
	top: 14px;
	left: 14px;
	z-index: 3;
	height: 80px;
	width: 80px;
	background-image: url("../images/logos-160x160.png");
	background-repeat: no-repeat;
	background-size: 80px;
}
.basic-info{
	&{
		padding: 0 0 40px;
		text-transform: uppercase;
		overflow: hidden;
	}
	.line{
		span{
			display: block;
			width: 50%;
			font-size: 24px;
			font-weight: 800;
			line-height: 38px;
			letter-spacing: .08em;
			float: left;
		}
	}
	.left{
		color: #fff;
	}
	.right{
		text-align: right;
	}
}
.special-info{
	&{
		display: inline-block;
		vertical-align: text-top;
		width: 100%;
		padding: 20px 0 40px;
		font-size: 0;
	}
	.left{
		display: inline-block;
		vertical-align: text-top;
		width: 30%;
		font-size: 36px;
		font-style: italic;
		font-weight: 800;
		text-transform: uppercase;
		text-align: right;
		padding-right: 20px;
	}
	.right{
		display: inline-block;
		vertical-align: text-top;
		width: 50%;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: .05em;
		color: #fff;
	}
}
.stats{
	&{
		display: inline-block;
		vertical-align: text-top;
		width: 100%;
		padding: 20px 0 0;
		font-size: 0;
	}
	.title{
		display: inline-block;
		vertical-align: text-top;
		width: 100%;
		font-size: 16px;
		font-weight: 800;
		letter-spacing: .7em;
		text-transform: uppercase;
		text-align: center;
		padding-right: 20px;
	}
	.stats-contain{
		display: inline-block;
		vertical-align: text-top;
		width: 100%;
		text-align: center;
		color: #fff;
		padding-top: 20px;
	}
	.stat{
		display: inline-block;
		vertical-align: text-top;
		width: 50%;
		padding-bottom: 20px;
	}
	.stat:last-of-type{
		padding-bottom: 0;
	}
	.header{
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: .2em;
		text-align: center;
		color: #fff;
		opacity: .5;
	}
	.number{
		font-size: 24px;
		font-weight: 800;
		letter-spacing: .08em;
		text-align: center;
		text-transform: uppercase;
	}
}
.social-info{
	&{
		overflow: hidden;
	}
	.account{
		display: block;
		width: 50%;
		float: left;
	}
	.account + .account{
		text-align: right;
	}
	.icon{
		display: inline-block;
		width: 20px;
		vertical-align: middle;
	}
	svg{
		display: block;
		width: 100%
	}
	.username{
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		color: #fff;
	}
}

$count: 0;
$l_height: 80;
$v_pos: $l_height;
@each $team in $nfl-teams{
	$body_class: map-get($team, class);
	$text_color: lighten(map-get($team, tc), 4);
	$foreground: lighten(map-get($team, fg), 4);
	$background: map-get($team, bg);
	body.#{$body_class}{
		.draft-card-contain{
			background: linear-gradient(342deg, lighten($background,10), darken($background,10));
		}
		.name-contain{
			color: $text_color;
		}
		.credit{
			background: $text_color;
			@if lighten($background,4) == $text_color {
				color: $foreground;
			} @else{
				color: $background;
			}
		}
		.logo{
			background-position: 0 (-(($v_pos + ($l_height * $count)) * 1px));
		}
		.basic-info .right,
		.special-info .left,
		.stats .title,
		.stats .number{
			color: $foreground;
		}
		svg{
			fill: $foreground;
		}
	}
	$count: $count + 1;
}

@import "themes/hometown";
@import "themes/shiny";
